{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ title }} - Sistema de Controle de Vendas{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ title }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{% url 'client_list' %}" class="btn btn-sm btn-secondary">
            <i class="fas fa-arrow-left me-1"></i> Voltar
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="card shadow mb-4">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.name|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.cpf_cnpj|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.phone|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.email|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.credit_limit|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.address|as_crispy_field }}
                        </div>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <a href="{% url 'client_list' %}" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}